#weatherMap {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 110, 222, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );

  text-align: center;
  height: auto;
  border-radius: 5px;
}

#textWeatherDash {
  color: white;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

#searchCity {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  margin-top: 10px;
  margin-left: 24.9%;
}

#wicon {
  margin-left: 40px;
}

#citiesNamesUl li {
  list-style: none;
  background-color: silver;
  list-style-position: inside;
  margin: 10px 0 0 -25px;
  position: relative;
  text-align: center;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-left: 120px;
}

#citiesNamesUl li:hover {
  background: #555;
}

#search {
  width: 46%;
  height: 10%;
  padding: 10px;
  margin-left: 18px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 24.6%;
}

#btn {
  background-color: lightskyblue;
  color: white;
  text-align: center;
  font-size: 16px;
  width: 55%;
  margin-top: 15px;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 12%;
}

#searchBtn {
  height: 10%;
  padding: auto;
  margin-left: 90px;
}

#border {
  margin-top: 10px;
  border-bottom: 2px solid black;
  color: black;
  width: 46%;
  margin-left: 24.8%;
}

#cityWeatherForcastUL {
  width: 100%;
  list-style: none;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-top: 5%;
  margin-right: 20%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

#cityFiveWeatherForcastUL li {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(222, 186, 28, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  color: white;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

#cityFiveWeatherForcastUL {
  list-style: none;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(154, 197, 221, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: azure;
}

.right {
  right: 0;
  background-color: aliceblue;  
  border-radius: 25px;
  border: 2px solid #73ad21;
}

.centered img {
  width: 40px;
}

.centered1 {
  /* width: 50%; */
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 150px;
  border-radius: 25px;
  border: 4px solid black
}

#currentWeatherBorder {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 110, 222, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 5px;
}
